<div>
  <%= render partial: "users/user_profile", locals: { user: @user } %>
    <ul>
      <% @posts.each do |p| %>
        <%= render partial: "post_comments", locals: { post: p } %>
      <% end %>
    </ul>
  <button>Pagination</button>
</div>